@yellow: #fff244;
@green: #0cbe3a;
@red: #ff0000;
@white: #ffffff;
@gray: #938954;
@black: #000000;

@border: #222;

@asfalto: #7d7e7e;
@grama: #9aba59;
@paralelepipedo: #d8d8d8;
@terra: #938954;
@predio: #1f497c;

@min-size: 15px;
@map-size: 42*@min-size;

.mapa{
  width: @map-size+1;
  height: @map-size+1;
  border-top: 1px solid @border;
  border-left: 1px solid @border;
}

.piso{
  width: @min-size;
  height: @min-size;
  float: left;
  border-right: 1px solid @border;
  border-bottom: 1px solid @border;
  animation-duration: 1s;
  animation-delay: 1s;
  &.inicio{
    background-color: @red;
  }
  &.fim{
    background-color: darken(@green,15%);
  }

  &.asfalto{
    background-color: @asfalto;
    &.pesquisa{
      background-color: lighten(@asfalto, 20%);
    }
    &.escolhido{
      background-color: darken(@asfalto, 20%);
    }
  }

  &.terra{
    background-color: @terra;
    &.pesquisa{
      background-color: lighten(@terra, 20%);
    }
    &.escolhido{
      background-color: darken(@terra, 20%);
    }
  }

  &.grama{
    background-color: @grama;
    &.pesquisa{
      background-color: lighten(@grama, 20%);
    }
    &.escolhido{
      background-color: darken(@grama, 20%);
    }
  }

  &.paralelepipedo{
    background-color: @paralelepipedo;
    &.pesquisa{
      background-color: lighten(@paralelepipedo, 20%);
    }
    &.escolhido{
      background-color: darken(@paralelepipedo, 20%);
    }
  }

  &.predio{
    background-color: @predio;
  }

}

.walker{
  position: absolute;
  z-index: 5;
  height: @min-size;
  width: @min-size;
  overflow: hidden;
  &.Rick{
    background: url("../images/walkers/head_rick.png");
    background-size: contain;
    top: 300px;
    left: 180px;
    z-index: 6;
  }
  &.Carl{
    background: url("../images/walkers/head_carl.png");
    background-size: contain;
    top: 75px;
    left: 480px;
  }
  &.Maggie{
    background: url("../images/walkers/head_maggie.png");
    background-size: contain;
    top: 195px;
    left: 465px;
  }
  &.Daryl{
    background: url("../images/walkers/head_daryl.png");
    background-size: contain;
    top: 525px;
    left: 525px;

  }
  &.Glen{
    background: url("../images/walkers/head_glen.png");
    background-size: contain;
    top: 480px;
    left: 120px;
  }
}

#mapa_field{
  textarea{
    font-family: Arial;
    font-weight: bold;
    font-size: 1.3em;
  }
}