@()
<p class="text-justify">O apocalipse zumbi começou. Grandes hordas de mortos-vivos, chamados
    "caminhantes (walkers)" ou "mordedores (biters)", devoram pessoas e sua mordida
    é infecciosa para os seres humanos. Os sobreviventes têm conhecimentos limitados
    sobre o que realmente está acontecendo no mundo. Um grupo enfrenta dilemas na
    luta para manter-se vivo. Os sentimentos confusos e os desafios do dia-a-dia em
    um mundo hostil e praticamente dominado por mortos-vivos são constantes e
    perturbadores.
</p>
<p class="text-justify">
    Rick, um xerife de uma pequena cidade, luta para manter seu grupo vivo e longe da
    ameaça zumbi. Juntos eles precisam adquirir novos meios apropriados de convívio
    social agora que as estruturas da sociedade entraram em colapso e a realidade se
    tornou atípica.
</p>
<p class="text-justify">
    Durante a constante batalha, os sobreviventes peregrinam em busca de abrigos
    seguros, até que encontram proteção atrás das grades de uma prisão abandonada.
    Porém a paz conquistada não dura muito tempo. Um grande bando de zumbis está
    prestes a chegar às mediações da prisão e a estrutura de muros não vai aguentar
    por muito tempo.
</p>
<p class="text-justify">
    O seu objetivo é ajudar Rick a reunir seu grupo e escapar da prisão o mais rápido
    possível.</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Cor</th>
            <th>Tipo</th>
            <th>Custo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="piso asfalto"></span></td>
            <td>Asfalto</td>
            <td>+1</td>
        </tr>
        <tr>
            <td><span class="piso terra"></span></td>
            <td>Terra</td>
            <td>+3</td>
        </tr>
        <tr>
            <td><span class="piso grama"></span></td>
            <td>Grama</td>
            <td>+5</td>
        </tr>
        <tr>
            <td><span class="piso paralelepipedo"></span></td>
            <td>Paralelepipedo</td>
            <td>+10</td>
        </tr>
        <tr>
            <td><span class="piso predio"></span></td>
            <td>Predio</td>
            <td>+&infin;</td>
        </tr>
    </tbody>
</table>