@(mapaForm: Form[MapaText], mapa: List[Ponto])
@import views.html._mapa
@import views.html._about
@main("Apocalipse Zumbi"){
    <h1>Apocalipse Zumbi</h1>
    <div class="with-nav-tabs">
        <ul class="nav nav-tabs">
            <li><a href="#tabAbout" data-toggle="tab">Sobre</a></li>
            <li class="active"><a href="#tabGame" data-toggle="tab" id="tab-mapa">Mapa</a></li>
            <li data-bind="visible: working"><a href="#" data-toggle="tab" id="tab-loading"><i class="fa fa-cog fa-spin"></i> Processando...</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" id="tabAbout">
                @_about.render()
            </div>
            <div class="tab-pane fade in active" id="tabGame">
                <p> </p>
                <div class="row"  data-bind="foreach: { data: walkers, as: 'w' }">
                    <div class="col-xs-4">
                        <div class="col-xs-4">
                            <img data-bind="attr: {src:'/assets/images/walkers/head_' + w.imagem + '' }" src="" height="100">
                        </div>
                        <div class="col-xs-8">
                            <h5 data-bind="text: w.nome"></h5>
                            <p>
                                <b>X:</b><span data-bind="text: w.x"></span>
                                <button data-bind="click: $root.moveLeft(w), clickBubble: false," class="btn btn-xs"><i class="fa fa-arrow-left"></i></button>
                                <button data-bind="click: $root.moveRight(w), clickBubble: false" class="btn btn-xs"><i class="fa fa-arrow-right"></i></button>
                            </p>
                            <p>
                                <b>Y:</b><span data-bind="text: w.y"></span>
                                <button data-bind="click: $root.moveUp(w)" class="btn btn-xs"><i class="fa fa-arrow-up"></i></button>
                                <button data-bind="click: $root.moveDown(w)" class="btn btn-xs"><i class="fa fa-arrow-down"></i></button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <textarea name="mapText" data-bind="value: mapa" rows="28" class="col-xs-12"></textarea>
                        </div>
                        <div class="row">
                            <button class="btn btn-default" data-bind="click: getWalkers"><i class="fa fa-users"></i> Walkers </button>
                            <button class="btn btn-default" data-bind="click: getInitialText"><i class="fa fa-refresh"></i> Restaurar Mapa </button>
                            <button class="btn btn-default" data-bind="click: updateMap"><i class="fa fa-map"></i>Atualizar Mapa</button>
                            <button class="btn btn-default" data-bind="click: pathFind"><i class="fa fa-map-marker"></i>Encontrar Caminho</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row"  id="mapa-holder">
                        @_mapa.render(mapa)
                        </div>
                        <div class="row" id="cost-holder">
                            <div class="col-xs-12 text-center"><h4><b>Custo:</b><span id="cost-value"></span></h4></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
